div.nav-bar main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(125.28deg, #0857c9b8 0%, #147bdedb 100%);
    padding: 14px 0;
}

div.nav-bar main nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 57px;
}

div.nav-bar main nav ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

div.nav-bar main nav ul li span {
    /* width: 46px;
    height: 19px; */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

div.nav-bar hr {
    /* margin: 0;
    opacity: 0.6;
    border: none;
    height: 0.5px; */

    border: 0;
    margin: 0;
    padding: 0;
    height: 1.4px;
    opacity: 0.1;
}