@import url('./nav.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;800;900&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif, 'Source Sans Pro', sans-serif;
    background-color: #317CC6;
}